.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

.venv/
venv/
env/
ENV/
.venv*/
pip-wheel-metadata/

build/
develop-eggs/
dist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

.cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/

.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

.ipynb_checkpoints

alembic/__pycache__/
alembic/*.pyc

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
.pnp.cjs

.next/
out/

*.log
logs
*.log.*

bower_components/

coverage/
*.lcov

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?